<!-- <div> -->
  <!-- {{app}} -->
  <!-- <h1>this is first page</h1>
  <app-students></app-students>

  <h1 *ngIF="age>20; else notdone">i am eligible</h1>
<ng-template #notdone> i am not eligible </ng-template>
</div> -->

<!-- <ng-template [ngIF]="color==='green'">
  <h1 style="color:green">
    Green Color
  </h1>
</ng-template>

<ng-template [ngIF]="color==='red'">
  <h1 style="color:red">
    red Color
  </h1>
</ng-template> -->

<!-- <button class="btn btn-danger">cllick me</button> -->

<router-outlet></router-outlet>